.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
}

.header {
    padding: 2%;
  }

.about {
    padding: 2%;
}

.unique {
    padding: 2%;
}

.topheader {
    margin: auto;
    background-color: orange;
    font-family: fantasy;
    color: white;
    height: 7%;
    padding: 7px 0;
}

p.name {
    float: left;
}

p.links {
    float: right;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.copyright {
    padding: 2%;
    color: gray;
  }